/* React Popup Alerts Styles */

.rpa-alert-modal .modal-content {
  border: none;
  border-radius: 5px !important;
  width: 500px;
  height: 369px;
}

.rpa-alert-modal .modal-body h3 {
  color: #595959;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}

.rpa-alert-modal .modal-body span {
  font-size: 18px;
}

.rpa-alert-modal .modal-footer button {
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  margin: 0 5px;
  padding: 10px 32px;
}

/* Alert variant text - icon color */
.rpa-text-error {
  color: red !important;
}

.rpa-text-cancel {
  color: red !important;
}

.rpa-text-info {
  color: #27BEF5 !important;
}

.rpa-text-success {
  color: #06D617 !important;
}

.rpa-text-warning {
  color: #F5DA27 !important;
}

.rpa-text-confirm {
  color: #3c09ff !important;
}

/* Responsive adjustment */
@media(max-width: 576px) {
  .rpa-alert-modal .modal-content {
    width: 90vw;
    height: auto;
    min-height: 300px;
  }

  .rpa-alert-modal .modal-title {
    font-size: 64px !important;
  }

  .rpa-alert-modal .modal-body h3 {
    font-size: 24px;
  }

  .rpa-alert-modal .modal-body span {
    font-size: 16px;
  }
}